[run]
omit = 
    /usr/*
    /home/tori/PycharmProjects/lab_PhoneBook/view.py
    /home/tori/PycharmProjects/lab_PhoneBook/controller.py
    /home/tori/PycharmProjects/lab_PhoneBook/phoneBook.py
    /home/tori/PycharmProjects/lab_PhoneBook/tests.py
    /home/tori/PycharmProjects/lab_PhoneBook/run_test.py
    /home/tori/PycharmProjects/lab_PhoneBook/streamserialize.py
    /home/tori/PycharmProjects/lab_PhoneBook/iterator.py
